:root{
    --cor-hover:white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


body {
    font-family: 'Inria Sans';
}

/* Tela Inicial */
#telaInicial{
    background-image: url("./image\ 1.png");
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

#introducao{
    background-color: rgba(0, 0, 0, 0.8);
    height: 70vh;
    width: 70vw;
    color: white;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

#introducao img{
    margin-top: -30px;
    margin-bottom: 60px;
}

#pesquisarEquipe{
    background-color: red;
    color: white;
    margin-top: 40px;
    width: 20vw;
    height: 5vh;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    border: none;
    outline: none;
}

::placeholder{
    color: white;
    font-size: 20px;
}

/* Tela Home */

#telaHome{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.logo{
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 15vh;
    z-index: 999999;
}

.logo img{
    align-items: center;
    width: 20vh;
    height: auto;
    margin-left: 45%;
    display: flex;
    margin-top: -20px;
}

#bodyHome{
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: orange;

}

#pesquisarHome{
    background-color: black;
    color: white;
    margin-top: 170px;
    width: 20vw;
    height: 5vh;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    border: none;
    outline: none;
}

#botaoCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 230px;
    height: 230px;
    margin-left: 100px;
    margin-top: 70px;
    border-top: solid 3px black;
    border-right: 3px solid black;
    background-color: transparent;
    border-radius: 0px;
    color: black;
}

#retanguloNome{
    height: 40px;
    width: 200px;
    margin-top:10px;
    margin-left: 20px;
}

.retangulo{
    height: 36px;
    width: 5%;
    background-color: black;
    display: flex;
}

#nomePiloto{    
    font-size: 20px;
    display: flex;
    margin-left: 23px;
    margin-top: -25px
}

#fotoPiloto img{
    margin-top: 20px;
}


/* Tela de Dados do Piloto */

#bodyDados{
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: orange;
    display: flex;
}

#foto img{
    margin-left: 100px;
    border-radius: 20px;
    width: 200px;
    height: 150px;
    margin-top: 50px;

}

#dadosPiloto{
    width: 50vw;
    height: 60%;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 25px;
    gap: 60px;
    text-align: start;
}

.preenchimentosDados{
    margin-top: 20px;
}

